/* Main structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFC5E7;
}
#main-content {
    background-color: #ffb7c5;
    width: 80%;
    margin: auto;   /* center the main content */
    padding: 5px 10px;


}

#main-header{
    background-color: #fcedf2;

}

#content{

}

#main-footer{

}
/*gallery*/
#gallery section{
    background: #fcedf2;
    padding:5px;
    border-radius:5px;
    margin: 5px;

}
/* navigation*/
#main-nav ul{
    padding-left: 0; /*removes indentation */
}

#main-nav li{
    list-style-type: none; /* remove the bullets */
    background: #ffd1d4;
    padding : 5px;
    border-bottom: #ffb7c5;
}
#main-nav a{
    text-decoration: none; /* remove the underline */
}


/* typography*/
#main-header h1{
    text-align: center;
    padding-top: 10px;
}

/*larger devices*/
.columns{
    display: flex;
}
.one{
    flex: 1;
}
.two{
    flex: 2;

}
.three{
    flex: 3;
}
.four{
    flex: 4;
}
@media (min-width: 768px){
   #main-nav ul{
    display: flex;
   }

   #main-nav li{
    background: transparent;
   }

   #main-nav a{
    color:lightsteelblue;
    border-bottom: 1px solid transparent;


   }
   #main-nav a:hover{
    border-bottom: 1px solid lightsteelblue;
   }
}




